# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Baseline
[*]
charset = utf-8
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.csproj]
indent_style = tab
indent_size = 4

[*.cs]
indent_style = space
indent_size = 4
max_line_length = 120

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_open_brace = none
csharp_preferred_modifier_order = public, private, override, virtual, file, new, abstract, internal, protected, sealed, static, readonly, extern, unsafe, volatile, async, required:suggestion
csharp_preserve_single_line_blocks = true
csharp_space_after_cast = true
csharp_style_var_for_built_in_types = false:suggestion
dotnet_sort_system_directives_first = false
dotnet_style_require_accessibility_modifiers = never:suggestion

# ReSharper properties
resharper_align_multiline_binary_expressions_chain = false
resharper_allow_comment_after_lbrace = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_local_method = 0
resharper_blank_lines_around_property = 0
resharper_blank_lines_around_single_line_type = 1
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = not_required
resharper_braces_for_while = required
resharper_braces_redundant = false
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_type = 0
resharper_csharp_blank_lines_inside_region = 0
resharper_csharp_empty_block_style = together
resharper_csharp_insert_final_newline = true
resharper_csharp_max_line_length = 172
resharper_csharp_remove_blank_lines_near_braces_in_declarations = false
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_ternary_expr_style = wrap_if_long
resharper_default_value_when_type_evident = default_expression
resharper_indent_pars = outside
resharper_instance_members_qualify_declared_in =
resharper_keep_existing_attribute_arrangement = true
resharper_keep_existing_declaration_block_arrangement = false
resharper_keep_existing_enum_arrangement = false
resharper_max_attribute_length_for_same_line = 20
resharper_csharp_object_creation_when_type_evident = target_typed
resharper_csharp_object_creation_when_type_not_evident = target_typed
resharper_parentheses_non_obvious_operations = none, bitwise_and, bitwise_exclusive_or, bitwise_inclusive_or, bitwise
resharper_parentheses_redundancy_style = remove
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_method_on_single_line = true
resharper_place_simple_initializer_on_single_line = false
resharper_space_within_single_line_array_initializer_braces = false
resharper_wrap_array_initializer_style = chop_if_long
