obj
obj.meta
Library
Temp

.idea
.vscode
*.userprefs
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.pidb
*.userprefs
*.userprefs.meta
Builds
UnitTestResults.xml*
*-TestResults.xml*

# ignore these specifically
players
plainlog.txt
DLL

Sln/bin

# Don't ignore these sln and csproj files because they're part of the non-Unity project.
!Sln/DarkConfig.sln
!Sln/DarkConfig.csproj
