# intermediate directories
obj
bin
test/bin
test/obj
packages/

# demo Unity files
demo/Library
demo/Temp
demo/**/*.sln
demo/**/*.csproj
demo/**/*.unityproj
demo/**/Builds
demo/**/UnitTestResults.xml*
demo/**/*-TestResults.xml*

# these are copied here as a post-build step in the normal csproj
demo/Assets/Plugins/DarkConfig.dll
demo/Assets/Plugins/YamlDotNet.dll

.idea
.vscode
*.userprefs
*.suo
*.user
*.pidb
*.userprefs
*.userprefs.meta