obj
obj.meta
Library
Temp

./*.csproj
./*.sln
./*.userprefs
*.unityproj
*.suo
*.user
*.pidb
*.userprefs
*.userprefs.meta
Builds
UnitTestResults.xml*
*-TestResults.xml*

# ignore these specifically since the ./*.ext approach isn't working
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
DarkConfig-csharp.sln
DarkConfig.sln
players
plainlog.txt
DLL/Debug/Editor/Mono.*
DLL/Debug/Editor/Unity*
